body {
    margin: 0px;
    background-color: #8854d0;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}
form {
    width: 90%;
    margin: 0 auto;
}
input[type ='text']{
    width: inherit;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    outline: none;
}
ul li{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    cursor: pointer;
}
span{
    display: none;
    
}
li:hover span{
    display: block;
}
.linethrough{
    text-decoration: line-through;
}
.btn {
    font-size: 18px;
    padding: 8px 24px;
    color: #ffff;
    border: 2px solid #ffff;
    background-color: transparent;
    border-radius: 4px;
    transition-duration: 0.4s;
    outline: none;
    cursor: pointer;
    /*ripple effect*/
    background-position: center;
    transition: background 0.8s;
}
.btn:hover{
    background: #8854d0 radial-gradient(circle, transparent 1%, #8854d0 1%) center/15000%;
}
.btn:active{
    background-color: #a5b1c2;
    background-size: 100%;
    transition: background 0s;
}


@media screen and (max-width: 768px){
    .todo{
        height: inherit;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-size: 18px;
    }
    h1 {
        font-weight: bold;
        font-size: 56px;
    }
    .todo-buttons{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .btn {
        padding: 16px 32px;
        font-size: 22px;
    }
    li:hover span{
        display: none;
    }
}
@media screen and (max-width: 500px){
    h1 {
        font-weight: bold;
        font-size: 36px;
    }
    input[type ='text']{
        font-size: 18px;
        padding: 10px;
    }
}